.cart_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}
.cart_product_title{
    width: 50%;
}
.cart_product_delete{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
}
.cart_product_delete:hover{
    transition: 0.5s;
    color: var(--skyblue);
    background-color: var(--blue);
}