.home{
    padding-top: 60px;
    display: flex;
}
.home_filters{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    gap: 1em;
    position: fixed;
    background-color: var(--white);
    height: 100%;
}
.products{
    width: 100%;
    padding: 40px 0 40px 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}