.login_form{
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-tienda-online-ilustracion-3d-diseno-renderizado-3d_503956-338.jpg?w=2000);
    background-position: center;
    background-size: cover;
}
.login_form_label{
    display: flex;
    font-size: 25px;
    gap: 1em;
}
.login_form_input{
    font-size: 20px;
}
.login_form_button{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid black;
    font-size: 20px;
}
.login_form_button:hover{
    transition: 0.5s;
    background-color: var(--blue);
    color: var(--skyblue);
}