.similar_products{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    padding: 20px;
}
.similar_products_title{
    margin-bottom: 20px;
}
.similar_products_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}